name: Apache Arrow
on:
  push:
  pull_request:
jobs:
  test:
    name: ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby
      - name: Install rubygems-requirements-system
        run: |
          gem install rubygems-requirements-system
      - name: Install Ext++
        run: rake install
      - name: Install Red Arrow
        run: gem install red-arrow
      - name: Load Red Arrow
        run: ruby -e "require 'arrow'"
