name: Test
on:
  push:
  pull_request:
jobs:
  test:
    name: ${{ matrix.ruby-version }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - "3.0"
          - "3.1"
          - "3.2"
          - "3.3"
          - "3.4"
          - "4.0"
        runs-on:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - run: bundle exec rake

  xcode:
    name: Xcode ${{ matrix.xcode-version }} on macOS ${{ matrix.macos-version }}
    runs-on: macos-${{ matrix.macos-version }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - xcode-version: "15.0.1"
            macos-version: "14"
          - xcode-version: "15.1"
            macos-version: "14"
          - xcode-version: "15.2"
            macos-version: "14"
          - xcode-version: "15.3"
            macos-version: "14"
          - xcode-version: "15.4"
            macos-version: "14"
          - xcode-version: "16.1"
            macos-version: "14"
          - xcode-version: "16.2"
            macos-version: "14"
          - xcode-version: "16.3"
            macos-version: "15"
          - xcode-version: "16.4"
            macos-version: "15"
          - xcode-version: "26.0.1"
            macos-version: "15"
          - xcode-version: "26.1.1"
            macos-version: "15"
          - xcode-version: "26.2"
            macos-version: "15"
          - xcode-version: "26.3"
            macos-version: "15"
    steps:
      - uses: actions/checkout@v6
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ matrix.xcode-version }}
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby
          bundler-cache: true
      - run: bundle exec rake
